<div class="card-block">
    <span class="tooltipInfo tooltip-effect-1"> 
        <span class="text-secondary"> <small>author: {{article.author.username}}</small></span>
        <span class="tooltip-content clearfix">
            <img *ngIf="article.author.image === ''" src="https://loremflickr.com/320/240/face">
            <img *ngIf="article.author.image !== ''" [src]="article.author.image">
            <div class="tooltip-text" style="white-space: nowrap;">
                <div><i class="fa fa-user"></i>&nbsp;{{article.author.username}}</div>
                <div><i class="fa fa-at"></i>&nbsp;<a href="mailto:{{article.author.email}}">{{article.author.email}}</a></div>
            </div> 
        </span> 
    </span>
</div>