<div *ngIf="!message">
    <h1>{{article.title}}</h1>
    <small>{{getDate(article)}}</small>
    <div class="float-right backLink">
        <small>
            <a [routerLink]="['/article']" class="text-secondary">
                <i class="fa fa-caret-left"></i>
                &nbsp;back
            </a>
        </small>
    </div>

    <img class="card-img mb-3" [src]="'https://loremflickr.com/600/200/' + getPictureKeyWord(article)">

    <div>
        <div class="mb-1">{{article.description}}</div>
        <div>{{article.body}}</div>
    </div>

    <div class="tags">
        <hr />
        <div *ngFor="let tag of article.tagList" class="tag float-left">
            <a href="/article/{{article.slug}}" class="text-secondary">#{{tag}}</a> &nbsp;
        </div>
    </div>
</div>