<div class="container">
    <h2>User list</h2>
    <p>This page contains the signed up authors</p>            
    <table class="table">
      <thead>
        <tr>
          <th class="text-info">Username</th>
          <th class="text-info">E-mail</th>
          <th class="text-info">Bio</th>
          <th class="text-info">Picture</th>
          <th class="text-danger text-center">Delete</th>
        </tr>
      </thead>
      <tbody *ngFor="let user of users">
        <tr>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{cutText(user.bio)}}...</td>
          <td class="userImage"> <img *ngIf="user.image" class="float-right" [src]="user.image"> </td>
          <td class="text-center">
            <i *ngIf="user.id != me?.id" class="fa fa-trash text-danger hand" (click)="areYouSure(user)"></i>
            <i *ngIf="user.id == me?.id" class="fa fa-pencil text-warning hand" (click)="editProfile()"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  