<!-- Default form login -->
<form class="text-center border border-light" action="#!">

    <p class="h4 mb-4">Sign up</p>

    <!-- Username -->
    <input type="text" id="fieldUsername" class="form-control mb-4" placeholder="Username">

    <!-- Email -->
    <input type="email" id="fieldEmail" class="form-control mb-4" placeholder="E-mail">

    <!-- Password -->
    <input type="password" id="fieldPassword" class="form-control mb-4" placeholder="Password">

    <!-- Password Again -->
    <input type="password" id="fieldPasswordAgain" class="form-control mb-4" placeholder="Password again">

    <!-- Sign in button -->
    <button class="btn btn-info btn-block" type="submit">Sign up</button>

</form>
<!-- Default form login -->